@import 'colors';


.btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  padding: 6px 12px;
  margin-bottom: 0;
  outline: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  whitespace: nowrap;

  &:focus, &:active {
    border: 1px solid black;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none;
  }

  &.btn-xs {
    padding: 3px 6px;
    font-size: 1.1rem;
  }

  &.btn-sm {
    padding: 4px 8px;
    font-size: 1.3rem;
  }

  &.btn-lg {
    padding: 8px 16px;
    font-size: 1.6rem;
  }

  &.btn-inline {
    font-size: 1em;
    padding: 2px 6px;
    display: inline;
    vertical-align: initial;
  }
}

@mixin btn-flat($normal-bg, $normal-color, $hover-bg, $hover-color, $active-bg, $active-color, $disabled-bg) {
  color: $normal-color;
  background: $normal-bg;

  &:hover {
    color: $hover-color;
    background: $hover-bg;
  }

  &:active,
  &.active {
    color: $active-color;
    background: $active-bg;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background: $disabled-bg;
    border-color: $disabled-bg;
  }
}


//         btn-flat($normal-bg, $normal-color, $hover-bg, $hover-color, $active-bg, $active-color, $disabled-bg)
.btn-default {
  @include btn-flat(#78909c, #eceff1, #90a4ae, #fff, #546e7a, #cfd8dc, #b0bec5);
}

.btn-aside {
  @include btn-flat(#caf2c2, #000, #c0e3ba, #000, #b6d9b0, #000, #90caf9);
}
