@import 'colors';

.code-book {
  display: grid;
  grid-template-columns: 350px 1fr;
  width: 800px;

  > :first-child {
    border-top-left-radius: 5px;
  }

  > :nth-child(2) {
    border-top-right-radius: 5px;
  }

  > :nth-last-child(2) {
    border-bottom-left-radius: 5px;
  }

  > :last-child {
    border-bottom-right-radius: 5px;
  }
}

.code-book--1l {
  width: 900px;
}

.code-book--2l {
  width: 1000px;
}

.code-book--3l {
  width: 1100px;
}

.code-book__left {
  background: rgba(0, 100, 0, 0.07);
  // This is basically a pale border right now, but it doesn't affect padding and is easier to tweak
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.0),
          rgba(0, 0, 0, 0.0) 2px,
          $code-book-left-background-color 2px);

  padding: 0.7em 0.3em 0.7em 0.8em;
  max-width: 550px; // Used when code-book is disabled (page not wide enough)
}

.code-book__right {
  padding: 0.7em 0.3em 0.7em 0.8em;
  font-size: 0.9em;
}

.code-book__left--has-after {

}

.code-book__left--after {
  background: $code-book-left-after-background-color;
  padding: 0.3em 0.8em 0.3em 0.8em;
}

.code-book__right--has-after {

}

.code-book__right--after {

}

@mixin disabled-code-book {
  display: block;
  max-width: 800px;
  width: initial;

  > :first-child {
    border-top-left-radius: 0;
  }

  > :nth-child(2) {
    border-top-right-radius: 0;
  }

  > :nth-last-child(2) {
    border-bottom-left-radius: 0;
  }

  > :last-child {
    border-bottom-right-radius: 0;
  }

  .code-book__left {
    // Removing the gradient for middle
    background: $code-book-left-background-color;

    border-radius: 10px 10px 0 0;
    border-left: 2px solid $code-book-disabled-left-border;
    padding-right: 0.8em;
  }

  .code-book__left--after {
    border-radius: 0 0 5px 10px;
    margin-bottom: 0.2em;
    background: $code-book-left-after-background-color;
  }

  .code-book__right {
    overflow-x: auto;
    margin-bottom: 0.2em;
    border-radius: 0 5px 5px 10px;
    border-left: 2px solid $code-book-disabled-left-border;
    padding: 0.7em 0.8em 0.7em 0.8em;
  }

  .code-book__right--has-after {
    border-bottom-left-radius: 0;
    margin: 0;
  }

  .code-book__right--after {
    display: none;
  }
}


@media only screen and (max-width: 1120px) {
  .code-book--3l {
    @include disabled-code-book;
  }
}

@media only screen and (max-width: 1020px) {
  .code-book--2l {
    @include disabled-code-book;
  }
}

@media only screen and (max-width: 920px) {
  .code-book--1l {
    @include disabled-code-book;
  }
}

@media only screen and (max-width: 820px) {
  .code-book {
    @include disabled-code-book;
  }
}

@media only screen and (max-width: 550px) {
  .code-book {
    .code-book__left {
      border-bottom-right-radius: 0;
    }
    .code-book__right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 10px;
    }
    .code-book__right--has-after {
      border-bottom-right-radius: 0;
    }

    .code-book__left--after {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
