$background-color: #f7fff4;
$text-color: #022700;

$code-book-left-background-color: #e5f4e2;
$code-book-left-after-background-color: #fadebd;
$code-book-disabled-left-border: #aed9a6;

$spoiler-background-color: white;
$spoiler-border-color: lightgrey;
$spoiler-text-color: inherit;
