@import 'normalize';
@import 'reset';
@import 'buttons';

@mixin default-margin-top($size) {
  p, .markdown-body {
    &:not(:first-child) {
      margin: $size 0 0 0;
    }

    + * {
      margin: $size 0 0 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.blog-post-content {
  > * {
    max-width: 800px;
  }
}

body {
  background-color: #f7fff4;
  color: #022700;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 1.35em;
}

.lone-highlighted-code {
  padding: 0.7em;
  border-radius: 5px;
}

.code-book {
  display: grid;
  grid-template-columns: 350px 1fr;

  > :first-child {
    border-top-left-radius: 5px;
  }

  > :nth-child(2) {
    border-top-right-radius: 5px;
  }

  > :nth-last-child(2) {
    border-bottom-left-radius: 5px;
  }

  > :last-child {
    border-bottom-right-radius: 5px;
  }
}

.code-book__left {
  background: rgba(0, 100, 0, 0.07);
  // This is basically a pale border right now, but it doesn't affect padding and is easier to tweak
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.0),
                                      rgba(0, 0, 0, 0.0) 2px,
                                      rgba(0, 100, 0, 0.07) 2px);

  padding: 0.7em 0.3em 0.7em 0.8em;

  @include default-margin-top(0.6em);
}

.code-book__right {
  padding: 0.7em 0.3em 0.7em 0.8em;
}

.code-book__right-wrapper {
  overflow: auto;
  max-width: 650px;
}

@include default-margin-top(1em);

.markdown-body {
  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 6px;
  }
}

.spoiler-target {
  margin: 0 !important;
  background: white;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 3px;
  border: 1px lightgrey solid;
}

.spoiler-target:not(.spoiler-target--displayed) {
  display: none;
}

.spoiler-toggler--hidden {
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  visibility: hidden;
}

@mixin selecting-column-mixin($col_index) {
  .selecting-column-#{$col_index}> :not(:nth-child(2n+#{$col_index})) {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
@include selecting-column-mixin(1);
@include selecting-column-mixin(2);
