@import 'normalize';
@import 'reset';
@import 'buttons';

@mixin default-margin-top($size) {
  p, .markdown-body {
    &:not(:first-child) {
      margin: $size 0 0 0;
    }

    + * {
      margin: $size 0 0 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.blog-post-content {
  > *:not(.code-book) {
    max-width: 800px;
  }
}

body {
  background-color: #f7fff4;
  color: #022700;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  line-height: 1.35em;
}

.table-for-code {
  width: 100%;
  background: rgba(0, 100, 0, 0.07);
  border: 0px;

  border-radius: 5px;
  overflow: hidden; // Needed for TD's background to be hidden from the corners past the radius

  > tbody > tr {
    > td {
      vertical-align: top;
      padding: 0.7em 1em;

      &:first-child:not(:last-child) {
        min-width: 400px;
        max-width: 400px;
        border-right: #f7fff4 3px solid;
      }
    }
  }

  @include default-margin-top(0.6em);

}

@include default-margin-top(1em);

.markdown-body {
  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 6px;
  }
}

.spoiler-target {
  margin: 0;
  background: white;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 3px;
}

.spoiler-target:not(.spoiler-target--displayed) {
  display: none;
}

.spoiler-toggler--hidden {
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  visibility: hidden;
}

@mixin selecting-column-mixin($col_index) {
  .selecting-column-#{$col_index} {
    > tbody, > thead {
      > tr {
        > td, > th {
          &:not(:nth-child(#{$col_index})) {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }
      }
    }
  }
}
@include selecting-column-mixin(1);
@include selecting-column-mixin(2);
