---
title: About me
layout: 'blog'
---

:content
  ## About

  Hey, I'm Maxime Lapointe, I've been coding in Ruby on Rails for over #{Time.now.year - 2013} years now, working mostly
  on a single business application. I also do some open source work here and there.

  I love working on programming tools; things that make life easier for me and other developpers.
  However it takes time to reach a level of quality and completeness I'm happy with. A good tool
  will make it easy to build upon, a bad one will make that terrible.

  I'd like to share insights I've learned, interesting ideas and concepts. Hopefully I can also learn from your feedback.

  I may also rant.
