---
title: Commento
layout: 'blog'
---

:content
  ## Commento

  I, Maxime Lapointe, host my own instance of [Commento](https://commento.io/) to allow my blog to have comments in
  a lightweight, privacy conscious and cheap way.

  Commento uses:

  * Your name and display picture to show who made the comment.
  * Your email to send you notification if someone replies to your comment, if you activate it in the settings after logging in.

  That's it, I will not look into any of that information, unless there is some weird problem which forces me to.

  The data is stored on a server in the United-States.
