---
title: About me
layout: 'blog'
---

:content
  ## Tools

  Often I'd like to have a little tools / calculators for various things, mostly for non-tech stuff. If I don't find something for that, then
  sometimes I make it myself!

  [[WIP] Shuffle a big deck of cards](/tools/shuffle-big-deck-of-cards.html)^
  Some games can have a massive number of playing cards. Shuffling them properly can be challenging, this might help!

  [Sun heat through a window](/tools/sun-heat-through-window.html)^
  Ever wonder how much heat comes inside through a window? Describe your window and latitude and get an approximation!
